<header>
  <div class="container">
    <div class="header_logo">
      <a href="{{ routes.root_url }}">
        <!-- Before -->
        <img class="lazyload" src="{{ section.settings.logo | img_url: 'master' }}" data-src="{{ section.settings.logo | img_url: 'master' }}" />
      </a>
    </div>
  </div>
</header>


{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo"
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}