<header>
  <div class="container">
    <div class="header_logo">
      <a href="{{ routes.root_url }}">
        
      </a>
    </div>
  </div>
</header>


{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}