<header>
  <div class="container">
    <div class="header_logo">
      <a href="{{ routes.root_url }}" style="display:block;width: 100px">
        <img lazyload  style="display:block;width: 100%" class="lazyload" src="" data-src="{{ section.settings.logo | img_url: 'master' }}" />
      </a>
    </div>
    <nav>
      <ul class="nav_link_wrapper">
        {% for link in section.settings.menu.links %}
          <li>
            <a href='{{- link.url -}}'>{{- link.title -}}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>


{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo"
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}