<header>
  <div class="container">
    <div class="header_logo">
      {% for i in (1..100) %}
      <a href="{{ routes.root_url }}" style="display:block;width: 100%">
        <img lazyload  style="display:block;width: 100%" class="lazyload" src="" data-src="{{ section.settings.logo | img_url: 'master' }}" />
      </a>
      {% endfor %}
    </div>
  </div>
</header>


{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo"
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}