*{
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.header_wrapper {
  display: flex;
  align-items: center;
}
ul.nav_link_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
